
@font-face {
    font-family: 'font';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

body {
    font-family: 'font', serif;
}

.descriptionWrapper, .objectDetails, .objectReview {
    direction: rtl;
    text-align: right;
}

#searchMovie, #menu, #personDetailWrapper, #usernameAccount, #signUpForm, #signInForm, #forgotPassForm, .hebTitle, #changeNameDesc, #noImdbPop h2, .tagline {
    direction: rtl;
}

.posterWrapper {
    left: unset;
    right: 1rem;
}

.searchStarImg {
    right: unset;
    left: 1rem;
}

#searchImg {
    right: unset;
    left: 1rem;
}

.similarMovieName {
    font-size: 1rem !important;
}

#emailSignUp, #emailForgotPass {
    text-align: left;
}

#emailSignUp::placeholder, #emailForgotPass::placeholder {
    text-align: right;
}

#hebrewLang {
    text-align: center;
}

.objectGenreWrapper, .objectDetails p {
    padding-left: unset;
    padding-right: 1.5rem;
}

.detailIcon {
    left: .5rem;
    right: .5rem;
}

#personDetailWrapper {
    text-align: right;
}

#personDetailWrapper i {
    margin-right: unset;
    margin-left: .5rem;
}

@media only screen and (max-width: 500px) {
    .posterWrapper {
        right: .5rem
    }
}

@media only screen and (max-width: 350px) {

    #searchImg {
        left: 0;
    }
}