
body {
    font-family: 'Kurale', sans-serif;
    font-weight: 500;
    background-color: white;
    position: relative;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.progress-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 8px;
}

.progress-bar {
  height: 8px;
  background: black;
  width: 0;
  opacity: .7;
}

.headerWrapper {
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: black;
    box-shadow: 0 1px 5px #4caf50;
}

.logoWrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
}

.logo {
    height: 150px;
    width: 160px;
    border-radius: 100px;
    box-shadow: 0 1px 5px #4caf50;
    background: black url("../images/movie.png") no-repeat center center;
    background-size: contain;
    z-index: 3;
}

.header {
    color: white;
    width: 100%;
    text-align: center;
}

.captainmarvelWrapper {
    width: 100%;
    position: absolute;
    bottom: 54%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}

.captainmarvel {
    z-index: 100;
    width: 600px;
    height: 713px;
    margin-left: 2%;  
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
}

.spidermanWrapper {
    width: 100%;
    position: relative;
}

.spiderman {
    width: 15%;
    position: absolute;
    left: 0;
    animation: topToBottom 3s;
    -webkit-animation: topToBottom 3s;
    -moz-animation: topToBottom 3s;
    -o-animation: topToBottom 3s;
    z-index: 999;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
}

@keyframes rightToLeft {
    0% {
        margin-right: -15rem;
    }

    100% {
        margin-right: 0;
    }
}

@-webkit-keyframes rightToLeft {
    0% {
        margin-right: -15rem;
    }

    100% {
        margin-right: 0;
    }
}

@-moz-keyframes rightToLeft {
    0% {
        margin-right: -15rem;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes topToBottom {
    0% {
        margin-top: -15rem;
    }

    100% {
        margin-top: 0;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        margin-top: -15rem;
    }

    100% {
        margin-top: 0;
    }
}

@-moz-keyframes topToBottom {
    0% {
        margin-top: -15rem;
    }

    100% {
        margin-top: 0;
    }
}

.goToTopBtn {
    display: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    z-index: 999;
}

.ironmanWrapper {
    width: 100%;
    position: relative;
}

.ironman {
    position: absolute;
    right: 0;
    width: 25%;
    animation: rightToLeft 3s;
    -webkit-animation: rightToLeft 3s;
    -moz-animation: rightToLeft 3s;
    -o-animation: rightToLeft 3s;
    z-index: 999;
}

.boardWrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
}

.imgWrapper {
    position: absolute;
    top: -103px;
    left: -75px;
    transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    -o-transform: scale(.3);
}

.header > h1 {
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#searchBox {
    width: 100%;
    position: relative;
    z-index: 2;
}

#searchMovie {
    background: none;
    display: block;
    margin-top: 6rem;
    width: 100%;
    height: 2rem;
    text-indent: 2%;
    border: 0; 
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
}

#searchImg {
    position: absolute;
    top: 6rem;
    right: 1rem;
    cursor: pointer;
    width: 30px;
}

.results {
    position: absolute;
    display: none;
    z-index: 101;
    top: 11.5rem;
    background-color: white;
    width: 30%;
    height: 20rem;
    overflow-y: scroll;
    box-shadow: 0 2px 8px 2px #848484;
    border-radius: 5px;
}

.movieLi {
    width: 100%;
    height: 7rem;
    list-style-type: none;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.movieLi > span {
    width: 50%;
}

.resultWrapper {
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}

.resultRow {
    padding: 0 2rem 0 1rem;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: space-around;
    border-bottom: 1.3px solid #4caf50;
}

.resultRow .description {
    width: 70%;
}

.posterWrapper {
    width: 25%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resultRow h5 {
    margin-bottom: 1rem;
}

.poster {
    width: 65px;
    height: 90px;
    border-radius: 5px;
}

.movieResultImage {
    width: 100px;
    height: 140px;
    cursor: pointer;
}

.inputWrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
}

.inputColumn {
    width: 30%; 
    margin-top: 3rem;
    position: relative;
}

#searchMovie:focus {
    outline: none;
}

#searchMovie ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}
#searchMovie:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    left: 0;
}

.inputError {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    color: red;
    top: 7.2rem;
}

.noMovieError {
    display: none;
    width: 100%;
    position: absolute;
    text-align: center;
    color: red;
    top: 7.2rem;
}

.container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    margin: -5rem 3rem 42rem 3rem;
    z-index: 1;
}

.singleMovieContainer {
    margin-top: 3rem;
}

h2 {
	color: #89867e;
	text-align: center;
	font-weight: 300;
}

.spinnerWrapper {
    position: absolute;
    width: 100%;
    /* display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center; */
    top: 7rem;
}

.spinner {
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    margin: auto;
}

.spinner .circle {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: calc(60px / 10) solid transparent;
}

.spinner .circle.circle-1 {
    border-top-color: black;
    animation: half-circle-spinner-animation 1s infinite;
    -webkit-animation: half-circle-spinner-animation 1s infinite;
    -moz-animation: half-circle-spinner-animation 1s infinite;
    -o-animation: half-circle-spinner-animation 1s infinite;
}

.spinner .circle.circle-2 {
    border-bottom-color: black;
    animation: half-circle-spinner-animation 1s infinite alternate;
    -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
    -moz-animation: half-circle-spinner-animation 1s infinite alternate;
    -o-animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.detailsWrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.imdbImage {
    width: 500px;
    height: 281px;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    cursor: url('../images/imdb_small.png'), auto;
}

.movieImg, .tvShowImg {
    width: 100%;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #848484;
}

.descriptionWrapper {
    width: 70%;
    margin: 2rem auto auto auto;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    text-align: left;
}

.objectDetails {
    width: 50%;
    margin: 2rem auto auto auto;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    text-align: left;
}

.objectGallery {
    margin-top: 3rem;
}

.descriptionWrapper, .objectDetails {
    padding: 1rem;
    font-size: 1.2rem;
}

.chosenMovie {
    text-align: center;
    width: 100%;
}

.chosenMovie > p {
    margin-top: 4rem;
    font-size: 2rem;
}

#switchContentBtnWrapper {
    margin-top: 1rem;
    margin-bottom: -5rem;
    width: 100%;
    text-align: center;
}

.btnWrapper {
    margin-top: 1rem;
    margin-bottom: -5rem;
    width: 100%;
    text-align: center;
}

button {
    margin: 1rem;
    border: none;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 3px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
}

button:active {
    box-shadow: 0 5px 5px #666;
    transform: translateY(4px);
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
}

.upcomingHeader {
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.playingNowWrapper, .movieWrapper, .tvShowWrapper, .upcomingMovieWrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-end;
    width: 13rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 7rem;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}

.imgDateWrapper {
    position: relative;
}

.movieDate {
    position: absolute;
    top: -2.5rem;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(-180deg,rgba(200, 200, 200, .3), rgba(200,200,200,.3));
}

.actorCreditsContainer {
    position: absolute;
    display: none;
    z-index: 999;
    top: 43rem;
    width: 100%;
}

.actorCreditsWrapper {
    width: 90%;
    margin: auto;
    height: 31rem;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    background-color: white;
}

.castWrapper, .similarMoviesWrapper {
    margin: auto;
    width: 71%;
    height: 29rem;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px #848484;
    background-color: white;
}

.castWrapper {
    margin-bottom: 2rem;
}

.similarMoviesHeader, .castHeader {
    font-size: 2.5rem;
}

.actorCredits, .cast, .similarMovies {
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    overflow-x: scroll;
    padding: 1rem;
    background-color: white;
}

.actorCredits {
    background-color: white;
    background-image: linear-gradient(-180deg,rgba(150, 150, 150, .95), rgba(200,200,200,.95));
    padding-top: 3rem;
    border-radius: 5px;
}

.playingNowWrapper > p, .movieWrapper > p, .tvShowWrapper p, .upcomingMovieWrapper p {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.longTitle {
    font-size: 1rem;
}

.longerTitle {
    font-size: 1rem;
    top: -8rem;
}

.playingNowWrapper > .movieImg, .movieWrapper > .movieImg, .tvShowWrapper > .tvShowImg {
    cursor: pointer;
}

.upcomingMovieWrapper > .movieImg, .movieWrapper > .movieImg, .tvShowWrapper > .tvShowImg {
    cursor: pointer;
}

.playingNowHeader, .tvShowsHeader {
    margin-top: 7rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
}

.tvShowsHeader {
    width: 100%;
    display: none;
    margin-bottom: -5rem;
}

.castName, .actorMovie, .similarMovie {
    box-shadow: 0 3px 3px #848484;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 23rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    margin-top: 2rem;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.castName, .similarMovie {
    position: relative;
}

.closeWrapper {
    position: relative;
    width: 100%;
}

.closeBtn {
    position: absolute;
    right: 1rem;
    top: -30rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

.actorCreditsName {
    position: absolute;
    top: -30.6rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.castName:nth-child(even), .actorMovie:nth-child(even), .similarMovie:nth-child(even) {
    background-color: lightgray;
}

.actorMovie:nth-child(odd) {
    background-color: white;
}

.castName:last-of-type, .similarMovie:last-of-type {
    margin-right: 0;
}

.actorImg, .similarMovieImg, .similarMovieImg {
    width: 150px;
    height: 212px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.similarMovieImg {
    cursor: url('../images/imdb_small.png'), auto;
}


.linksWrapper {
    position: absolute;
    bottom: 1rem;
}

.imdbLinkWrapper, .instagramWrapper {
    cursor: pointer;
}

.imdbLinkWrapper {
    margin-right: 1rem;
}

.instagramWrapper {
    margin-left: 1rem;
}

.imdbLink {
    width: 30px;
    height: 30px;
}

.instagramLink {
    width: 30px;
    height: 30px;
}

.actorMovieImg {
    width: 150px;
    height: 212px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: url('../images/imdb_small.png'), auto;
}

.castName > span, .actorMovie > span, .similarMovie span {
    font-size: .9rem;
}

.cast:after, .similarMovies:after {
  content: '';
  flex: 0 0 1.8rem;
}

.actorCredits:after {
  content: '';
  flex: 0 0 1rem;
}

.cast::-webkit-scrollbar-track {
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.cast::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 1rem;
}

.cast::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.similarMovies::-webkit-scrollbar-track {
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.similarMovies::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 1rem;
}

.similarMovies::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.actorCredits::-webkit-scrollbar-track {
    width: 50%;
    background-color: white;
    border-radius: 5px;
}

.actorCredits::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 1rem;
}

.actorCredits::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

.movieGalleryImg {
    margin: 2rem;
    width: 500px;
    height: 281px;
    border-radius: 10px;
    box-shadow: 0 3px 8px 3px #848484;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    cursor: url('../images/cursor2.png'), auto;
}

.movieVideo {
    margin: 2rem;
    border-radius: 10px;
    border: 8px solid black;
}

.bottomSection {
    width: 100%;
    margin-top: 30rem;
    position: relative;
}

.footer {
    position: relative;
    width: 100%;
}

.tmdbCertWrapper {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    height: 4rem;
    background-color: black;
}

#tmdbCert {
    text-align: center;
    color: white;
}

#tmdbImgFooter {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
}

.footerImg {
    width: 80px;
    height: 80px;
}

.contactWrapper {
    display: flex;
    width: 100%;
    bottom: 4rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.contact {
    width: 35%;
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.contact > a {
    text-decoration: none;
    transition: .3s
}

/*------------------------Popups-------------------------*/
    
.popUpInfo {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    min-height: 900px;
    background: rgba(210,220,225,.8);
    top: 0;
}

.popupCont {
    display: block;
    position: fixed;
    width: 40rem;
    height: 20rem;
    background: #fff;
    padding:3em;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.popupBtnsWrapper {
    margin-top: 2rem;
    text-align: center;
}

.popupBtn {
    background-color:black;
    padding: .7rem;
    width: 7rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
}

.Xbtn {
     display: block;
    position: absolute;
    width:25px;
    height:25px;
    background:url(../images/closeBtn.png) no-repeat top center;
    background-Size:100% auto;
    top: 1em;
    right: 1em;
    cursor:pointer;
}

@media only screen and (max-width: 1240px) {

    .movieGalleryImg {
        width: 300px;
        height: 170px;
    }
}

@media only screen and (max-width: 1040px) {

    .inputColumn {
        width: 40%;
    }

    .movieGalleryImg {
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-width: 1000px) {

    .popupCont {
        width: 65%;
    }

    .resultRow .description {
        padding-left: 2rem;
    }

    .playingNowHeader, .tvShowsHeader {
        margin-top: 5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 920px) {
    .inputColumn {
        width: 70%;
    }

    .results {
        width: 80%;
    }
}

@media only screen and (max-width: 840px) {

    .movieGalleryImg {
        margin: 1rem;
    }
}

@media only screen and (min-width: 765px) {

    .playingNowWrapper:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .upcomingMovieWrapper:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .movieWrapper:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    .tvShowWrapper:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .movieGalleryImg:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    .castName:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .actorMovie:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    
    .similarMovie:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .contact > a:hover {
        transform: rotate(-45deg) scale(1.3);
        -webkit-transform: rotate(-45deg) scale(1.3);
        -moz-transform: rotate(-45deg) scale(1.3);
        -ms-transform: rotate(-45deg) scale(1.3);
        -o-transform: rotate(-45deg) scale(1.3);
    }
    
}

@media only screen and (max-width: 765px) {

    .castName > span, .actorMovie span, .similarMovie span {
        font-size: .8rem;
    }

    .header > h1 {
        font-size: 1.5rem;
    }

    .headerWrapper {
        height: 5rem;
    }

    .logo {
        height: 100px;
        width: 110px;
    }

    .imgWrapper {
        top: -115px;
        left: -109px;
        transform: scale(.2);
        -webkit-transform: scale(.2);
        -moz-transform: scale(.2);
        -ms-transform: scale(.2);
        -o-transform: scale(.2);
    }

    .spiderman {
        width: 20%;
    }

    .ironman {
        width: 30%;
    }

    .container {
        margin-bottom: 3rem;
    }

    .singleMovieContainer {
        margin-top: 0;
    }

    .imdbImage {
        width: 400px;
        height: 200px;
    }

    .castWrapper {
        height: 24rem;
        width: 100%;
    }

    .similarMoviesWrapper {
        height: 23rem;
        width: 100%;
    }

    .actorCreditsWrapper {
        height: 26rem;
        top: 50rem;
    }

    .actorCredits {
        height: 100%;
    }

    .castName {
        height: 18rem;
    }

    .actorMovie, .similarMovie {
        height: 17.5rem;
    }

    .cast {
        padding-bottom: 1rem;
    }

    .actorCredits {
        padding-bottom: 1rem;
    }

    .similarMovies {
        padding-bottom: 1rem;
    }

    .closeBtn {
        top: -25rem;
    }

    .actorCreditsName {
        top: -25.5rem;
    }
    
    .actorImg, .actorMovieImg, .similarMovieImg {
        width: 100px;
        height: 138px;
    }

    .movieGalleryImg {
        width: 100%;
        margin: 2rem auto 2rem auto;
    }

    .movieVideo {
        width: 100% !important;
        margin: 2rem auto 2rem auto;
        height: 280px;
    }

    .bottomSection {
        margin-top: 25rem;
    }

    .captainmarvel {
        width: 350px;
        height: 463px;
    }

    .boardWrapper {
        width: 70%;
        margin: auto;
    }

    .board {
        width: 410px;
    }

    .contactWrapper {
        bottom: 2rem;
    }

    .contact {
        width: 40%;
    }

    .footerImg {
        width: 60px;
        height: 60px;
    }

    .descriptionWrapper, .objectDescription, .objectDetails {
        width: 90%;
        padding: 1rem;
    }
}

@media only screen and (max-width: 650px) {

    #tmdbImgFooter {
        margin-right: .5rem;
    }
}

@media only screen and (max-width: 600px) {

    .imgDateWrapper {
        margin: 0;
    }

    .imdbImage {
        width: 400px;
        height: 200px;
    }

    .btnWrapper {
        margin-bottom: -1rem;
    }

    .btnWrapperUpcoming {
        margin-top: 5rem;
        margin-bottom: -5rem;
    }

    .upcomingHeader {
        margin-bottom: -4rem;
    }

    .container {
        margin: 0;
        margin-top: -5rem;
    }

    .singleMovieContainer {
        margin: 0 2rem 34rem 2rem;
    }

    .playingNowWrapper, .movieWrapper, .tvShowWrapper, .upcomingMovieWrapper {
        height: 20rem;
        width: 9rem;
    }

    .playingNowWrapper p, .movieWrapper p, .tvShowWrapper p, .upcomingMovieWrapper p {
        font-size: 1rem;
    }

    .movieImg, .tvShowImg {
        height: 244px;
    }

    .playingNowWrapper .movieDate, .movieWrapper .movieDate, .tvShowWrapper .movieDate, .upcomingMovieWrapper .movieDate {
        font-size: .7rem;
        top: -1.2rem;
    }
}

@media only screen and (max-width: 550px) {

    .spiderman {
        width: 25%;
    }

    .ironman {
        width: 35%;
    }
    
    .movieGalleryImg {
        height: 180px;
    }

    .movieVideo {
        height: 180px !important;
    }

    .bottomSection {
        margin-top: 22rem;
    }

    .captainmarvel {
        width: 250px;
        height: 363px;
    }

    .board {
        width: 300px;
    }

    .contactWrapper {
        bottom: 1rem;
    }

    .contact {
        width: 40%;
    }

    .footerImg {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {

    .imdbImage {
        width: 350px;
    }
}

@media only screen and (max-width: 470px) {

    .playingNowWrapper, .movieWrapper, .tvShowWrapper, .upcomingMovieWrapper {
        height: 13rem;
        width: 6rem;
    }
    
    .playingNowHeader, .upcomingHeader {
        margin-top: 7rem;
        margin-bottom: -1rem;
    }

    .movieImg, .tvShowImg {
        height: 167px;
    }

    .container {
        margin: 0;
        margin-top: -7rem !important;
    }

    .btnWrapper {
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .tvShowsHeader {
        margin-bottom: -2rem !important;
    }

    .singleMovieContainer {
        margin: 0 2rem 34rem 2rem;
        margin-top: -2rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .inputColumn {
        width: 90%;
    }

    .actorCreditsName {
        top: -25rem;
        font-size: 1rem;
        text-align: left;
        left: .5rem;
    }

    .imdbImage {
        width: 300px;
        height: 180px;
    }
}

@media only screen and (max-width: 400px) {

    .similarMoviesHeader, .castHeader {
        font-size: 1.9rem;
    }

    .actorCreditsWrapper {
        top: 55rem;
    }

    .chosenMovie > p {
        font-size: 1.4rem;
    }

    .imdbLinkWrapper {
        margin-right: unset;
    }

    .imdbLink, .instagramLink {
        width: 25px;
        height: 25px;
    }

    .castName, .actorMovie, .similarMovie {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .actorImg, .actorMovieImg, .similarMovieImg {
        width: 80px;
        height: 100px;
    }

    .resultRow .description {
        width: 65%;
    }
}

@media only screen and (max-width: 370px) {
    .imdbImage {
        width: 280px;
    }
}

@media only screen and (max-width: 350px) {

    .imdbImage {
        width: 250px;
        height: 150px;
    }
    
    .actorCreditsWrapper {
        top: 60rem;
    }

    #searchMovie {
        font-size: 1.07rem;
    }

    .resultRow .description {
        padding-left: 2rem;
    }
}
