<div class="container">
    <h1>Movies Providers</h1>
    <div class="watchCont">
        <a [routerLink]="'/movies/providers/337'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}DisneyPlus.png" alt="DisneyPlus">
        </a>
        <a [routerLink]="'/movies/providers/8'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}Netflix.png" alt="netflix">
        </a>
        <a [routerLink]="'/movies/providers/384'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}hboMax.png" alt="hboMax">
        </a>
        <a [routerLink]="'/movies/providers/9'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}amazon.png" alt="amazon">
        </a>
        <a [routerLink]="'/movies/providers/350'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}appleTv.png" alt="appleTv">
        </a>
    </div>
</div>

<div class="container">
    <h1>TV Shows Providers</h1>
    <div class="watchCont">
        <a [routerLink]="'/tv/providers/337'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}DisneyPlus.png" alt="DisneyPlus">
        </a>
        <a [routerLink]="'/tv/providers/8'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}Netflix.png" alt="netflix">
        </a>  
        <a [routerLink]="'/tv/providers/384'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}hboMax.png" alt="hboMax">
        </a>
        <a [routerLink]="'/tv/providers/9'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}amazon.png" alt="amazon">
        </a>
        <a [routerLink]="'/tv/providers/350'">
            <img class="providerImg" src="{{currentEnvironment.imagesSrc}}appleTv.png" alt="appleTv">
        </a>
    </div>
</div>