@import '../../../styles/colors';

.genre-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $orangeColor;
    color: $bgColor;
    font-size: 1.6rem;
    border-radius: 5px;
}