<footer>
    <div class="socials">
        <a href="https://www.facebook.com/omri.shalev.31" id="facebook" rel="noopener" target="_blank" aria-label="facebook" title="facebook">
            <i class="pi pi-facebook"></i>

        </a>
        <a href="https://github.com/omriknight9" id="github" rel="noopener" target="_blank" aria-label="github" title="github">
            <i class="pi pi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/omri-shalev-8b3515119/" id="linkedin" rel="noopener" target="_blank" aria-label="linkedin" title="linkedin">
            <i class="pi pi-linkedin"></i>
        </a>
    </div>
    <div class="tmdb">
        <span>This product uses the TMDB API but is not endorsed or certified by TMDB</span>
        <a href="http://www.themoviedb.org/" target="_blank" rel="noopener noreferrer">
            <img class="tmdbLogo" src="{{currentEnvironment.imagesSrc}}tmdbLogo.png" alt="tmdb">
        </a>
    </div>
    <p>Ⓒ {{date | date: 'yyyy'}} OmrisMovies All Right Reserved.</p>
</footer>
