@import '../../../styles/colors';

.overview {
    line-height: 1.5;
}

.stat {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

    .label {
        width: 170px;
        font-weight: bold;
    }

    .value {
        color: $orangeColor;
    }

    .app-icon {
        margin-right: 5px;
        color: $orangeColor;
        font-size: 1.2rem;
        vertical-align: sub;
    }
}

.directors {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4rem;
}

.directorCont {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    .actorSocials {
        top: -3rem;
    }

    img {
        width: 7rem;
    }
}

.carouselHeader {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.actorSocials {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    .actorSocialBtn {
        margin: 0 .5rem;
        img {
            width: 2rem;
            height: 2rem;
        }
    }
}

.tagline {
    color: $orangeColor; 
}

@media only screen and (max-width: 765px) {
    .actorSocials {
        position: static;
    }
}